.dropdown-menu {
  &__list {
    margin-bottom: -1.5rem;
  }
  
  &__item {
    margin-bottom: 1.5rem;

    a {
      display: flex;
      align-items: center;
      color: inherit;
      transition: 0.25s;

      &:hover {
        text-decoration: none;
        color: $link-color;
      }
    }
  }

  &__link-icon {
    flex-shrink: 0;
    width: 36px;
    margin-right: 0.5rem;
    text-align: center;
  }

  &--packages,
  &--services {
    border: none;
  }
}

@media (max-width: 991px) {
  .dropdown-menu {
    &--packages,
    &--services {
      background-color: #f5f5f5;
      margin-left: -1rem;
      margin-right: -1rem;
      padding: 1rem;
      border-radius: 0;
    }

    &--packages {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .dropdown {
    &--packages {
      position: static;
    }
  }

  .dropdown-menu {
    &--packages {
      right: 0;
      padding: 32px 0;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    }

    &--services {
      width: 410px;
      padding: 32px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    }
  }
}
