.header {
  padding: 128px 0 192px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-image: url("../img/header.svg");
}

@include media-breakpoint-down(md) {
  .header {
    padding: 48px 0 96px;
  }
}
