.help {
  &__img {
    height: 100px;
    object-fit: scale-down;
  }
}

@include media-breakpoint-up(lg) {
  .help {    
    font-size: 18px;
    height: 100%;
    
    &__img {
      height: 180px;
    }
  }
}
