.modal {
  &-title {
    flex-grow: 1;
    text-align: center;
    font-size: 32px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

@include media-breakpoint-up(md) {
  .modal {
    &-title {
      font-size: 40px;
    }

    &-header,
    &-body,
    &-footer {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    &-header {
      padding-top: 3rem;
    }

    &-body {
      padding-bottom: 6rem;
    }
  }
}
