.nav-link {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  &.dropdown-toggle {
    &::after {
      color: $text-muted;
    }
  }
}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
