.reviews {
  &__carousel {
    position: static;
    font-size: 18px;

    &-wrap {
      padding-top: 60px;
    }

    .owl-nav {
      position: absolute;
      top: 0;

      button {
        opacity: 0.5;

        &.disabled {
          cursor: default;
        }
  
        &:not(.disabled):hover {
          opacity: 1;
        }

        &.owl-next {
          margin-left: 32px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .reviews {
    &__carousel {  
      &-text {
        border-radius: $border-radius-lg;
        background-color: #eceff3;
        padding: 16px;
      }
    }
  }
}
