.tariff-card {
  text-align: center;

  .card-header {
    padding: 3.5rem 1.5rem 1.5rem;
    background-color: transparent;
    border-bottom: 0;
  }

  .card-body {
    padding: 0 1.5rem;
  }

  .card-footer {
    padding: 1rem 1.5rem 2.5rem;
    background-color: transparent;
    border-top: 0;
  }

  ul {
    padding-left: 20px;
  }

  &__btn {
    min-width: 200px;
  }
}
