@each $size, $row-size in $row-sizes {
  .row-#{$size} {
    margin-left: $row-size * -1;
    margin-right: $row-size * -1;

    > * {
      padding-left: $row-size;
      padding-right: $row-size;
    }
  }
}
