@each $size, $row-size in $row-sizes {
  .row-#{$size} {
    margin-left: -#{$row-size};
    margin-right: -#{$row-size};

    > * {
      padding-left: $row-size;
      padding-right: $row-size;
    }
  }
}
