.shadow-primary {
  box-shadow: 0 5px 15px -2px $primary;
}

.font-style-normal {
  font-style: normal;
}

.min-w-144 {
  min-width: 144px;
}

.min-w-176 {
  min-width: 176px;
}

@media (min-width: 992px) {
  h2,
  .h2 {
    font-size: 42px;
  }
}
