.shadow-primary {
  box-shadow: 0 5px 15px -2px $primary;
}

.font-style-normal {
  font-style: normal;
}

.min-w-144 {
  min-width: 144px;
}

.min-w-176 {
  min-width: 176px;
}

select.form-control {
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6'%3E%3Cg transform='translate(-1036 -1597)'%3E%3Cpath d='M4.5,0,9,6H0Z' transform='translate(1045 1603) rotate(180)' fill='%23909090' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
  padding-right: 30px;
}

.form-control {
  &:hover {
    border-color: $primary;
  }
}

@include media-breakpoint-up(lg) {
  h2,
  .h2 {
    font-size: 42px;
  }
}
