$blue: #3281ec;
$orange: #f49a40;
$yellow: #f2c94c;
$green: #25ae60;
$primary: $green;
$secondary: $orange;
$yiq-contrasted-threshold: 200;

$spacer: 1rem;
$spacers: (
  12p: ($spacer * 0.75),
  32p: ($spacer * 2),
  64p: ($spacer * 4),
  96p: ($spacer * 6),
  128p: ($spacer * 8)
);

$font-sizes: (
  12: 12px,
  14: 14px,
  18: 18px,
  22: 22px,
  24: 24px,
  32: 32px,
  60: 60px
);

$row-sizes: (
  md: ($spacer * 0.5),
);

$body-color: #212121;
$link-color: $blue;
$border-radius: 0.25rem;
$border-radius-lg: 0.75rem;
$border-color: #ebebeb;
$box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);

$font-family-sans-serif: "Inter", "Helvetica", sans-serif;
$font-size-base: 1rem;
$h3-font-size: 1.5rem;
$headings-font-weight: bold;
$text-muted: #9e9e9e;

$input-border-color: $border-color;

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-border-radius-sm: $border-radius;

$card-border-radius: 12px;
$card-border-color: $border-color;

$badge-font-weight: normal;
$badge-padding-y: 0.5em;
$badge-padding-x: 0.5em;

$navbar-brand-font-size: $font-size-base;
$navbar-brand-padding-y: 0;
$navbar-light-color: $body-color;
$navbar-light-hover-color: $link-color;

$dropdown-border-color: $border-color;

$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-md: 570px;
